#title {
    position: relative;
    height: 1%;
    padding-left: 5%;
    padding-right: 5%;
    /*	text-shadow: 2px 1px grey;*/
    font-size: 30px;
    width: 90%;
    /*background-color:blue;*/
    color: white;
    margin-bottom: 2%;
}

#title {
    background: rgba(0,0,138,1);
    background: -moz-linear-gradient(left, rgba(0,0,138,1) 0%, rgba(0,103,194,1) 24%, rgba(5,138,255,1) 49%, rgba(0,103,194,1) 79%, rgba(0,0,138,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,138,1)), color-stop(24%, rgba(0,103,194,1)), color-stop(49%, rgba(5,138,255,1)), color-stop(79%, rgba(0,103,194,1)), color-stop(100%, rgba(0,0,138,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,138,1) 0%, rgba(0,103,194,1) 24%, rgba(5,138,255,1) 49%, rgba(0,103,194,1) 79%, rgba(0,0,138,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,138,1) 0%, rgba(0,103,194,1) 24%, rgba(5,138,255,1) 49%, rgba(0,103,194,1) 79%, rgba(0,0,138,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,138,1) 0%, rgba(0,103,194,1) 24%, rgba(5,138,255,1) 49%, rgba(0,103,194,1) 79%, rgba(0,0,138,1) 100%);
    background: linear-gradient(to right, rgba(0,0,138,1) 0%, rgba(0,103,194,1) 24%, rgba(5,138,255,1) 49%, rgba(0,103,194,1) 79%, rgba(0,0,138,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008a', endColorstr='#00008a', GradientType=1 );
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: white;
}

#container {
    min-height: 100%;
    position: relative;
}

#innerContainer {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: aliceblue;
    padding-bottom: 3%;
}

#content {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
}

#header {
    position: fixed;
    width: 100%;
    height: 1%;
    padding-bottom: 0.5%;
    padding-top: 2%;
    z-index: 1;
}

#header {
    backface-color: white;
}

#body {
    padding-top: 2%;
}

#footer {
    clear: both;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #249cf4;
}

.column-left {
    float: left;
    width: 33%;
    padding-left: 5%;
    padding-bottom: 0.3%;
    margin-top: -2%;
}

.column-right {
    float: right;
    width: 23%;
    margin-top: -1.8%;
    margin-right: -10%;
}

.column-center {
    display: inline-block;
    width: 850%;
}

.center {
    display: flex;
    flex-wrap: wrap; /* Optional. only if you want the items to wrap */
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
}

#dropOrden {
    text-align: right;
    padding-right: 2%;
    padding-bottom: 1%;
}

.cabeceraTabla {
    text-align: center;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: white;
}

td {
    text-align: center;
    color: gray;
}

.tablaPedido {
    width: 100%;
}

.styleTable {
    width: 100%;
}


.invisibleRow {
    float: left;
    width: 100%;
    padding-bottom: 3%;
    padding-top: 2%;
}

.invisibleCol {
    float: left;
    width: 20%;
}

.invisibleCol10 {
    float: left;
    width: 10%;
}

html {
    min-height: 100%;
}

#MenuLeft ul.dynamic {
    z-index: 1;
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(246,143,33,1) 34%, rgba(238,118,0,0.93) 61%, rgba(238,118,0,0.9) 72%, rgba(238,118,0,0.84) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(34%, rgba(246,143,33,1)), color-stop(61%, rgba(238,118,0,0.93)), color-stop(72%, rgba(238,118,0,0.9)), color-stop(100%, rgba(238,118,0,0.84)));
    background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(246,143,33,1) 34%, rgba(238,118,0,0.93) 61%, rgba(238,118,0,0.9) 72%, rgba(238,118,0,0.84) 100%);
    background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(246,143,33,1) 34%, rgba(238,118,0,0.93) 61%, rgba(238,118,0,0.9) 72%, rgba(238,118,0,0.84) 100%);
    background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(246,143,33,1) 34%, rgba(238,118,0,0.93) 61%, rgba(238,118,0,0.9) 72%, rgba(238,118,0,0.84) 100%);
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(246,143,33,1) 34%, rgba(238,118,0,0.93) 61%, rgba(238,118,0,0.9) 72%, rgba(238,118,0,0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}


.Product {
    width: 100%;
    overflow: hidden;
}


.commentButtonProduct {
    float left;
}

.invisibleRowProduct {
    float: left;
    width: 100%;
    height: 150%;
    padding-bottom: 3%;
}

#MenuLeft a.static {
    font-size: 2vw;
    color: darkblue;
    font-weight: bold;
    padding-bottom: 4%;
}

a:hover {
    background-color: aliceblue;
}

#MenuRight a.static {
    font-size: 2vw;
}

#ContentPlaceHolder1_imagenCarrusel {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

#ContentPlaceHolder1_imagenI2 {
    width: 100%;
}


h1 {
    font-size: 2vw;
    text-align: center;
    padding-top: 1%;
}


.Img1 {
}

.Img2 {
    width: 10%;
    padding-left: 5%;
}

.ErrorMessage {
    color: red;
}

#ContentPlaceHolder1_GridViewCart {
    width: 100%;
}

#totalPedido {
    padding-top: 2%;
    padding-left: 30%;
}

.descriptionProduct {
    padding-bottom: 1.5%;
    float: right;
    width: 70%;
    padding-top: 2%;
    text-align: center;
    max-height: 40%;
}

img#ContentPlaceHolder1_imageProduct {
    width: 30%;
}

input#ContentPlaceHolder1_CartButton {
    height: 35px;
}

input#ContentPlaceHolder1_Button {
    height: 35px;
}

.buscador {
    padding-bottom: 2%;
}

input#ContentPlaceHolder1_SearchTextBox {
    height: 20px;
    width: 155px;
}

input#ContentPlaceHolder1_SearchBrandButton {
    height: 26px;
}

input#ContentPlaceHolder1_SearchModelButton {
    height: 26px;
}

.comment {
    padding: 1%;
    margin: 1%;
    width: 100%;
}

.comentariosProducto {
    width: 50%;
}
/*
    AQUI COMIENZA EL ESTILO DEL SLIDER.
*/
.slider {
    width: 70%; /*Desde aquí controlamos el ancho de las imágenes.*/
    margin: auto;
    overflow: hidden; /* Los elementos(imagenes) ya no se quedan fuera.*/
}

    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite alternate;
        animation-timing-function: ease-in; /*empieza rapido y termina lento(paso de la img)
                                            Hay más tipos de transiccion entre imagenes.
                                            */
    }

    .slider li {
        width: 100%;
        list-style: none;
    }

    .slider img {
        width: 100%;
    }

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }
    /*TIEMPO QUE TARDA EN PASAR LA IMAGEN, 20*0,5= 1s*/
    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* 
        AQUÍ FINALIZA.
    */
